<div class="container">
  <h1>Hello <%= @student.name %></h1>

  <%= render partial: "day_matches", locals: { day_match_array: @day_match_array } %>

  <%= link_to "Back", root_path, class: "btn btn-default" %>
</div>
